@font-face {
  font-family: Lato;
  src: url(fonts/Lato.ttf);
}

* {
  font-family: Lato;
}

.container {
  max-width: 917px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
header {
  padding: 27px 0px 27px 0px;
}

header nav li a {
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

header nav li a:hover {
  background-color: #1bbc9b;
  color: white;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

/* we bulid */
.we-build-brand {
  background-image: url(img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-bottom: 50px;
}

.we-build-brand .we-build {
  color: #ffffff;
  font-family: Lato;
  font-size: 55px;
  font-weight: 300;
  font-family: "Lato Light";
  padding-top: 96px;
}

.we-build-brand .brand {
  font-family: "Lato Bold";
  font-weight: 700;
}

.we-build-brand p {
  color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  max-width: 574px;
  display: block;
  margin: 0 auto;
}

.we-build-brand #btn_learn_more {
  padding: 10px;
  color: #ffffff;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #1bbc9b;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

.we-build-brand #btn-go-down {
  background: none;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 30px;
}

/* portfolio */
.portfolio .container {
  padding: 60px 0;
}

.portfolio .portfolio-title {
  color: #444444;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 18px;
  padding-top: 55px;
}

.portfolio .portfolio-title-after {
  text-align: center;
  color: #444444;
  font-weight: 400;
}

.portfolio .buttons {
  max-width: 460px;
  display: flex;
  flex-direction: column;

  margin: 35px auto;
}

.portfolio .buttons a {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 12px;
  background-color: #1bbc9b;
  display: block;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

.portfolio .buttons a:hover {
  background-color: #16a086;
}

.portfolio .ex-container li {
  width: 170px;
  height: 180px;

  border-radius: 50%;
  text-align: center;
  margin-top: 50px;

  display: block;
}

.portfolio .hov-efect-for-li {
  position: relative;
  color: #ffffff;
  display: none;
  z-index: 3;
  width: 170px;
  height: 180px;
  background-color: rgba(22, 160, 134, 0.5);
  border-radius: 50%;
}

.portfolio li img {
  width: 170px;
  height: 180px;
}

.portfolio .hov-efect-for-li img {
  width: 43px;
  height: 45px;
  padding-top: 50px;
}

.portfolio .ex-container li:hover .hov-efect-for-li {
  display: block;
  position: absolute;
}

.portfolio .ex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 849px;
}
.disp-non{
  display: none;
}
/* .about-us */
.about-us-title {
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 18px;
  padding-top: 55px;
}

.about-us .txt-after-h2 {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 45px;
}

.about-us {
  background-color: #16a086;
  padding-bottom: 73px;
}

.about-us .name {
  color: #444444;

  font-size: 18px;
  font-weight: 400;
  padding-top: 20px;
}

.about-us .profil {
  color: #444444;

  font-size: 14px;
  font-style: italic;
  display: block;
  padding-bottom: 25px;
}

.about-us .txt-about {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  line-height: 20px;
  text-align: left;
}

.about-us .photo-txt-container {
  width: 200px;
  display: block;
  margin: 73px auto;
}

.about-us .item-cotainer-txt {
  width: 200px;
  text-align: center;
  padding-left: 9px;
  position: relative;
  padding-right: 11px;
  padding-bottom: 20px;
  background-color: #ffffff;
  margin: 0 auto;
}

.about-us .photo {
  width: 220px;
  height: 229px;
  position: relative;
}

.about-us .hover-social a {
  display: block;
  margin-left: 20px;
}

.about-us .hover-social {
  background-color: rgba(22, 160, 134, 0.8);
  position: absolute;

  display: flex;
  padding: 9px;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.about-us .photo .ava {
  display: block;
  z-index: 1;
  position: absolute;
}

.about-us .photo:hover .hover-social {
  z-index: 2;
}

/* contact */
.contact-title {
  color: #444444;
  font-family: Lato;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.txt-after-title {
  color: #444444;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.contact {
  padding: 50px 0;
  background-color: #ecf0f1;
}

.contact .information {
  width: 250px;
  margin: 0 auto;
}

.contact .information span {
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
}

.contact .information p {
  padding-bottom: 25px;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.contact form {
  max-width: 460px;
  margin: 0 auto;
}

.contact textarea {
  border: 2px solid #bec3c7;
  width: 92%;
  height: 153px;
  padding: 20px 10px;
  color: #999999;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 20px;
}

.contact textarea:focus {
  outline: none;
}

.contact input {
  border: 2px solid #bec3c7;
  color: #999999;
  font-size: 14px;
  font-style: italic;
  padding: 18px 20px;
  width: 160px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.contact input:focus {
  outline: none;
}

.contact #submit {
  color: #ffffff;

  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 30px;
  background-color: #1bbc9b;
  border: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
}

/* footer */
footer {
  background-color: #2d3e50;
  padding: 25px 0;
}

footer #go-up {
  background: none;
  border: none;
  display: block;
  cursor: pointer;
  margin: 20px auto;
}

footer p {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  display: block;
  max-width: 327px;
  margin: 0 auto;
}

@media (min-width: 480px) {
  header nav {
    flex-direction: row;
  }

  .portfolio .buttons {
    flex-direction: row;
  }

  .portfolio .buttons a {
    margin-right: 15px;
  }

  .portfolio .ex-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .inp-container {
    display: flex;
    width: 460px;
    justify-content: space-between;
  }

  .inp-container input {
    margin: 0;
    margin-bottom: 24px;
  }

  .contact textarea {
    width: 95%;
  }

  .about-us .container .waraper-for-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: block;
  }

  header nav {
    display: block;
    display: flex;
  }

  header {
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .contact .container .form-info-wrapper {
    display: flex;
  }

  .contact #submit {
    float: right;
  }
}